.content {
    font-size: 20px;
    line-height: 2;
    margin: 30px;
}
.downloads {
    display: flex;
    justify-content: space-around;
}
.button {
    width: 20%;
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    transition-duration: 1s;
    text-decoration: none;
    color: white;
}
.button:hover {
    background-color: rgb(80, 80, 80);
}